## This is the example configuration script file for rude.
##
## Empty lines or lines beginning with '#' character are skipped...
##
## The 1ST command line must be the START command, which sets the
## absolute START time for the rude program. You can use "shortcut"
## NOW if no delay is required. Here are two examples.
## START NOW
## START 17:20:00
##
START NOW

## FLOW 1: (flow ID = 30)
##
## Starts 1 second after the START time with following parameters:
##   200 packets/second with 250 bytes/packet = 50kbytes/sec (1kbyte=1000bytes)
##
## 2 seconds from that the flow is modified to following parameters:
##   400 packets/second with 500 bytes/packet = 200kbytes/sec
##
## 1 second from that the flow is modified to following parameters:
##   1000 packets/second with 1000 bytes/packet = 1000kbytes/sec
##
## 1 second from that the flow is turned off...
##
1000 0030 ON 3002 10.1.1.1:10001 CONSTANT 200 250
3000 0030 MODIFY CONSTANT 400 500
4000 0030 MODIFY CONSTANT 1000 1000
5000 0030 OFF

## FLOW 2: (flow ID = 25)
##
## Starts immediately at the specified START time with following params:
##   400 packets/second with 100 bytes/packet = 40kbytes/sec (1kbyte=1000bytes)
##
## Sets the TOS for this flow to LOW_DELAY (0x10)
##
## 9 seconds after that the flow is turned off...
##
0000 0025 ON 3001 10.1.1.1:10001 CONSTANT 400 100
TOS 0025 0x10
9000 0025 OFF

## FLOW 3: (flow ID = 1)
##
## This flow acts as specified in the TRACE configuration file.
## Read the README.rude file for the command and file syntax
##
0000 1 ON 3111 10.1.1.1:10001 TRACE trace_file.txt
9999 1 OFF
## ... and that's it.
